---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to my Frontend Mentor challenges">
  <main>
    <h1 class="text-4xl font-bold">Welcome to my Frontend Mentor challenges</h1>
    <p>This is where all my challenges solutions will live!</p>
    <ul role="list" class="link-card-grid">
      <li>
        <a href="/frontend-mentor/challenges/qr-code-component"
          >QR Code Component</a>
      </li>
      <li>
        <a href="/frontend-mentor/challenges/3-column-preview-card-component">
          3 Column Preview Card Component
        </a>
      </li>
    </ul>
  </main>
</Layout>
