---
import Layout from "../layouts/Layout.astro";

const challenges = [
  {
    title: "QR Code Component",
    url: "/frontend-mentor/challenges/qr-code-component",
  },
  {
    title: "3 Column Preview Card Component",
    url: "/frontend-mentor/challenges/3-column-preview-card-component",
  },
  {
    title: "Profile Card Component",
    url: "/frontend-mentor/challenges/profile-card-component",
  },
  {
    title: "Order Summary Component",
    url: "/frontend-mentor/challenges/order-summary-component",
  },
  {
    title: "NFT Card Preview Component",
    url: "/frontend-mentor/challenges/nft-card-preview-component",
  },
  {
    title: "Expenses chart component",
    url: "/frontend-mentor/challenges/expenses-chart-component",
  },
  {
    title: "Fylo data storage component",
    url: "/frontend-mentor/challenges/fylo-data-storage-component",
  },
  {
    title: "Job Listings with Filtering",
    url: "/frontend-mentor/challenges/job-listings-with-filtering",
  },
  {
    title: "Multi-step Form",
    url: "/frontend-mentor/challenges/multi-step-form",
  },
  {
    title: "Interactive Rating component",
    url: "/frontend-mentor/challenges/interactive-rating-component",
  },
  {
    title: "Single Price Grid Component",
    url: "/frontend-mentor/challenges/single-price-grid-component",
  },
  {
    title: "Product Preview Card Component",
    url: "/frontend-mentor/challenges/product-preview-card-component",
  },
  {
    title: "Rocket take off",
    url: "/frontend-mentor/challenges/rocket-take-off",
  },
];
---

<Layout title="Welcome to my Frontend Mentor challenges">
  <main class="container p-4 mx-auto">
    <h1 class="text-4xl font-bold mb-2 text-white">
      Welcome to my Frontend Mentor challenges
    </h1>
    <p class="mb-4 text-white">
      This is where all my challenges solutions will live!
    </p>
    <ul role="list" class="">
      {
        challenges.map((challenge) => {
          return (
            <li class="capitalize p-4 my-2 rounded-lg text-yellow-500 bg-gray-900 shadow-md hover:bg-gray-800 ease-in duration-150">
              <a
                href={challenge.url}
                class="flex justify-between items-stretch font-bold text-lg"
              >
                {challenge.title}
                <span class="flex items-center text-xl">&rarr;</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>
