---
import ChallengeLayout from "../../layouts/ChallengeLayout.astro";

import data from "../../data/interactive-comments-section.json";
import Comment from "../../components/challenges/interactive-comments-section/Comment";
import ReplySection from "../../components/challenges/interactive-comments-section/ReplySection";
import DeleteModal from "../../components/challenges/interactive-comments-section/DeleteModal";
import App from "../../components/challenges/interactive-comments-section/App";
---

<ChallengeLayout title="Interactive Comments Section">
  <Fragment slot="links">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </Fragment>

  <div class="h-screen overflow-y-scroll">
    <main class="flex flex-col justify-center items-center gap-4 px-4 py-8">
      <App client:load src={Astro.url.href} />
      <ReplySection src={Astro.url.href} type="Send" />
    </main>
  </div>
  <DeleteModal client:idle />
</ChallengeLayout>

<style is:inline>
  :root {
    font-family: "Rubik", sans-serif;

    /* Primary */

    --moderate-blue: hsl(238, 40%, 52%);
    --soft-red: hsl(358, 79%, 66%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --pale-red: hsl(357, 100%, 86%);

    /* Neutral */

    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
  }

  body {
    min-height: 100vh;
    background-color: var(--very-light-gray);
    /* filter: contrast(70%); */
    /* position: relative; */
  }
</style>
