---
import ChallengeLayout from "../../layouts/ChallengeLayout.astro";
---

<ChallengeLayout title="Profile Card Component">
  <Fragment slot="links">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </Fragment>

  <main>
    <div class="card">
      <div class="card-header"></div>
      <div class="card-profile-img">
        <img
          src="/frontend-mentor/challenges/profile-card-component/image-victor.jpg"
          alt="profile image Victor"
        />
      </div>
      <div class="card-content">
        <h1>
          Victor Crest <span>26</span>
        </h1>
        <h2>London</h2>
      </div>
      <hr />
      <ul class="card-stats">
        <li><h3>80K</h3><p>Followers</p></li>
        <li><h3>803K</h3><p>Likes</p></li>
        <li><h3>1.4K</h3><p>Photos</p></li>
      </ul>
    </div>
  </main>
</ChallengeLayout>

<style is:inline>
  :root {
    font-family: "Kumbh Sans", sans-serif;

    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --gray-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
  }

  body {
    background-color: var(--dark-cyan);
    background-image: url("/frontend-mentor/challenges/profile-card-component/bg-pattern-top.svg"),
      url("/frontend-mentor/challenges/profile-card-component/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right 50vw bottom 46vh, left 50vw top 44vh;
  }

  main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  .card {
    position: relative;
    width: 312px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    /* box-shadow: 0 2px 6px 0 var(--dark-gray); */
    box-shadow: 0 12px 48px 0px var(--gray-blue);
  }

  .card-header {
    height: 150px;
    width: 100%;
    background: url("/frontend-mentor/challenges/profile-card-component/bg-pattern-card.svg");
  }

  .card-profile-img {
    height: 108px;
    width: 108px;
    position: absolute;
    top: calc(150px - 108px / 2);
    left: 50%;
    transform: translate(-50%);
    border: 6px solid white;
    border-radius: 50%;
    overflow: hidden;
  }

  .card-profile-img img {
    overflow: hidden;
  }

  .card h1,
  .card h3 {
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 18px;
  }

  .card h1 span {
    font-weight: 400;
    color: var(--gray-blue);
    margin-left: 6px;
  }

  .card h2 {
    font-weight: 400;
    font-size: 14px;
    color: var(--gray-blue);
    margin-top: 6px;
  }

  .card-content {
    margin-top: 64px;
    margin-bottom: 28px;
  }

  .card-stats {
    display: flex;
    justify-content: space-evenly;
    padding-block: 22px;
  }

  .card-stats p {
    font-weight: 400;
    color: var(--gray-blue);
    font-size: 10px;
    letter-spacing: 1.5px;
  }

  @media (min-width: 712px) {
    .card {
      width: 376px;
    }
  }
</style>
