---
import ChallengeLayout from "../../layouts/ChallengeLayout.astro";
import Main from "../../components/challenges/rocket-take-off/Main";
// <main class="h-screen w-full flex flex-col items-center relative">
---

<ChallengeLayout title="Rocket Take Off Splash Screen">
  <Fragment slot="links"></Fragment>

  <main
    class="max-w-full max-h-full h-screen w-full flex flex-col items-center relative overflow-hidden shadow-2xl sm:max-w-[375px] sm:max-h-[800px]"
  >
    <Main src={`${Astro.url.href}/rocket-launch.webp`} client:load />
  </main>
</ChallengeLayout>

<style is:inline>
  :root {
    --cream: #f3eade;
    --cream-dark: #dddad2;
  }

  body {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
