---
export interface Props {
  title: string;
  isDark: boolean;
}

const { title, isDark = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/frontend-mentor/favicon.svg" />
    <slot name="links" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Challenges</title>
  </head>
  <body>
    <slot />
    <footer
      class={`mx-auto mb-8 text-xs text-center${isDark ? " text-white" : ""}`}
    >
      Challenge by
      <a
        href="https://www.frontendmentor.io?ref=challenge"
        target="_blank"
        class={isDark ? "text-blue-300" : "text-blue-700"}
      >
        Frontend Mentor</a
      >. Coded by <a href="https://github.com/RubenSmn">RubenSmn</a>.
    </footer>
  </body>
</html>
